img.switchsex {
    background-image: static_url('change-sex-buttons.png');
    background-size: 100% 200%;
    background-repeat: no-repeat;
    width: 252px;
    height: 50px;
}

img.switchsex.switch-female {
    background-position:0px 0px
}

img.switchsex.switch-male {
    /* ~75% of 50px */
    background-position:0px -39px
}

