:-moz-any-link:focus {
  outline: none;
}

#content {
  background-repeat: no-repeat;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}

.hover, .active {
	cursor: pointer;
	cursor: hand;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #FF0000;
	border-right-color: #FF0000;
	border-bottom-color: #FF0000;
	border-left-color: #FF0000;
	text-decoration: underline;
}
