#content {
    background-repeat: no-repeat;
    height: 600px;
    margin: 0 auto;
    position: relative;
    width: 960px;
}

.mainscreen {
  background: top center no-repeat static_url('mainscreen-bg.jpg');
}

a#caselog {
    background: transparent;
    position: absolute;
    border: none;
}

a#caselog:hover {
    cursor: pointer;
    background: top left no-repeat static_url('office-caselog-active.png');
}

a#journal:hover {
    cursor: pointer;
    background: top left no-repeat static_url('office-journal-active.png');
}

a#door:hover {
    cursor: pointer;
    background: top left no-repeat static_url('office-door-active.png');
}

a#backdoor:hover {
  cursor: default;
}

