body {
	background: #a36a4a static_url('bg2.png') repeat-x left top;
	}

#content {
  background-repeat: no-repeat;
  height: 600px;
  margin: 0 auto;
  position: relative;
  width: 960px;
}

a#caselog {
  left:467px;
  top:438px;
  width: 372px;
  height: 158px;
  background:transparent;
  position: absolute;
  border: none;
}

a#caselog:hover {
  background-image: url(../images/mainscreen-caselog-highlighted.png);
  background-repeat: none;
}
