#content {
    background-repeat: no-repeat;
    height: 600px;
    margin: 0 auto;
    position: relative;
    width: 960px;
}

.mainscreen {
  background: top center no-repeat static_url('mainscreen-bg.png');
}

a#caselog {
    background: transparent;
    position: absolute;
    border: none;
}

a#caselog:hover {
    cursor: pointer;
    /*background-image: static_url('mainscreen-caselog-highlighted.png');*/
    background-repeat: none;
}

a#journal:hover {
    cursor: pointer;
    /*background-image: static_url('mainscreen-journal-highlighted.png');*/
    background-repeat: none;
}
