div#topBar {
    background-color: #492222;
}

img#homeButton:hover {
    background-image: static_url('home-active.png');
    background-repeat: none;
}

img#caselogButton:hover {
    background-image: static_url('log-active.png');
    background-repeat: none;
}

img#infoButton:hover {
    background-image: static_url('info-active.png');
    background-repeat: none;
}

img#helpButton:hover {
    background-image: static_url('help-active.png');
    background-repeat: none;
}

img#notepadButton:hover {
    background-image: static_url('notepad-active.png');
    background-repeat: none;
}

img#journalButton:hover {
    background-image: static_url('journal-active.png');
    background-repeat: none;
}

img#blogButton:hover {
    background-image: static_url('blog-post-active.png');
    background-repeat: none;
}

img#logOutButton:hover {
    background-image: static_url('log-out-active.png');
    background-repeat: none;
}

#changeGroupLabel {
    font-size: 9px;
    text-decoration: underline;
    /*background-color: #C56827;*/
}
a#changeGroup:link {
    color: #9B7B6A;
}
a#changeGroup:visited {
    color: #9B7B6A;
}
a#changeGroup:hover {
	color: #DCF1F6;
}
