div#topBar {
    background-color: #65120E;
    background: #65120E top left repeat-x static_url('topbar-bg.png');
}

#topBar .sc-view {
  font-family: 'Sofadi One', 'Lucida Sans', 'Lucida-Grande', sans-serif;
  font-weight: 400;
}

img#homeButton:hover {
    background-image: static_url('home-active.png');
    background-repeat: none;
}

img#caselogButton:hover {
    background-image: static_url('log-active.png');
    background-repeat: none;
}

img#introButton:hover {
    background-image: static_url('intro-active.png');
    background-repeat: none;
}

img#infoButton:hover {
    background-image: static_url('info-active.png');
    background-repeat: none;
}

img#helpButton:hover {
    background-image: static_url('help-active.png');
    background-repeat: none;
}

img#notepadButton:hover {
    background-image: static_url('notepad-active.png');
    background-repeat: none;
}

img#journalButton:hover {
    background-image: static_url('journal-active.png');
    background-repeat: none;
}

img#blogButton:hover {
    background-image: static_url('blog-post-active.png');
    background-repeat: none;
}

img#logOutButton:hover {
    background-image: static_url('log-out-active.png');
    background-repeat: none;
}

#changeGroupLabel {
    font-size: 9px;
    text-decoration: underline;
    /*background-color: #C56827;*/
}
a#changeGroup:link {
    color: #9B7B6A;
}
a#changeGroup:visited {
    color: #9B7B6A;
}
a#changeGroup:hover {
  color: #DCF1F6;
}

#unlockablesButton {
  background: top left no-repeat static_url("unlockables-button-sprite.png");
}

#unlockablesButton.none {
  background-position-x: 0px;
  background-position-y: 0px;
}

#unlockablesButton.one {
  background-position-y: -29px;
}

#unlockablesButton.two {
  background-position-y: -58px;
}

#unlockablesButton.three {
  background-position-y: -87px;
}

#unlockablesButton.four {
  background-position-y: -116px;
}

#unlockablesButton.five {
  background-position-y: -145px;
}

#unlockablesButton.six {
  background-position-y: -174px;
}

#unlockablesButton.seven {
  background-position-y: -203px;
}

#unlockablesButton.eight {
  background-position-y: -232px;
}

#unlockablesButton.nine {
  background-position-y: -261px;
}

#unlockablesButton.plus {
  background-position-y: -290px;
}

