tmp/
rails/geniverse/config/database.yml
rails/geniverse/log/*.log
rails/geniverse/db/*.sqlite3
rails/geniverse/db/*.db
*.DS_Store*
rails/geniverse/.project
.rvmrc
proxy/*.conf
*.log
*.pid
*.lock
spec/support/apache*
hudson/*
results/*
.idea/
