[submodule "frameworks/cc"]
	path = frameworks/cc
	url = git://github.com/sfentress/CC-SproutCore.git
[submodule "capybara-testrunner"]
	path = capybara-testrunner
	url = git://github.com/concord-consortium/capybara-testrunner.git
[submodule "frameworks/ki"]
	path = frameworks/ki
	url = https://github.com/FrozenCanuck/Ki.git
[submodule "frameworks/sproutcore"]
	path = frameworks/sproutcore
	url = git@github.com:concord-consortium/sproutcore.git
