[submodule "frameworks/cc"]
	path = frameworks/cc
	url = git://github.com/sfentress/CC-SproutCore.git
[submodule "capybara-testrunner"]
	path = capybara-testrunner
	url = git://github.com/concord-consortium/capybara-testrunner.git
