.sc-theme .organism-view .isSelected {
	border: yellow solid 2px;
}

.sc-theme .female {
	background-color: #FCEBF1;
}

.sc-theme .male {
	background-color: #E1E6FA;
}

.sc-theme .female-selected {
	background-color: #FCD4E2;
}

.sc-theme .male-selected {
	background-color: #C5D0FC;
}
