<p>
  <b>ID:</b>
  <%=h object.id %>
</p>

<% textfield_names = ["initial_alleles", "message"] %>
<% object.attributes.each do |att,val| %>
  <p>
    <%= f.label att.to_sym %><br />
    <% if (textfield_names.grep(att.to_s).size > 0) %>
      <%= f.text_area att.to_sym %>
    <% else %>
      <%= f.text_field att.to_sym %>
    <% end %>
  </p>
<% end %>
