.sc-theme .sc-list-item-view img.icon {
	width: 50px;
	height: 50px;
	margin-top: -23px;
	margin-left: -5px;
}

.sc-list-item-view.has-icon label, .sc-list-item-view.has-checkbox label {
	left: 45px;
}

.sc-theme .static-allele {
	background-color: #a8a8a8;
	border: 1px solid black;
	text-align:center;
  text-size: 9px;
}

.sc-theme .allele-string {
	background-color: #B6EBDE;
	border: 1px solid black;
	text-align:center;
  text-size: 9px;
  color: black;
  padding: 2px;
}

/* BE CAREFUL WITH OPACITY! ONCE YOU MAKE A PARENT TRANSPARENT,
 * ALL CHILDREN WILL BE TRANSPARENT, TOO! */
.sc-theme .genome-view-intro {
  background-color: #70594e;
  opacity: 0.75;
	border: 1px solid black;
}

.transparent {
  opacity: 0.95;
}

.extra-transparent {
  opacity: 0.7;
}

.opaque {
  opacity: 1;
}

.bity {
  font-size: 10px;
  font-weight: bold;
}

.container_label {
  background-color: #46271E;
  padding: 4px;
}

.dragon_label {
  background-color: #F5DF51;
  padding: 4px;
  color: black;
}

.article_text {
  background-color: #cec0ac;
  color: black;
}

.sc-view .parchment {
	background-image:static_url('parchment.jpg');
	background-size: 100%;
	border: 0;
	background-color: transparent;
}

.info-title {
  font-size: 16px;
	color: #8a6331;
	text-shadow: 0px 2px 3px #f8eddf;
}

.instTitle {
	font-size: 24px;
}

ul.instList li {
	list-style:square static_url('diamondBullet.png');
}

img.bringItButton {
    background: static_url('gv-butt-bring-it.png') no-repeat top left;
}

img.bringItButton:hover {
    background-position: top right;
}

img.closeButton {
    background: static_url('gv-butt-close.png') no-repeat top left;
}

img.closeButton:hover {
  background-position: top right;
}

img.cancelButton {
    background: static_url('gv-butt-cancel.png') no-repeat top left;
}

img.cancelButton:hover {
  background-position: top right;
}

img.postButton {
    background: static_url('gv-butt-post.png') no-repeat top left;
}

img.postButton:hover {
  background-position: top right;
}

