.sc-theme .sc-list-item-view img.icon {
	width: 50px;
	height: 50px;
	margin-top: -23px;
	margin-left: -5px;
}

.sc-list-item-view.has-icon label, .sc-list-item-view.has-checkbox label {
	left: 45px;
}

.sc-theme .static-allele {
	background-color: #76AB9E;
	border: 1px solid black;
	text-align:center;
  text-size: 9px;
}

.sc-theme .allele-string {
	background-color: #B6EBDE;
	border: 1px solid black;
	text-align:center;
  text-size: 9px;
  color: black;
  padding: 2px;
}

.sc-theme .genome-view-intro {
  background-color: #70594e;
  opacity: 0.75;
	border: 1px solid black;
}

.transparent {
  opacity: 0.8;
}

.extra-transparent {
  opacity: 0.7;
}

.bity {
  font-size: 10px;
  font-weight: bold;
}
.container_label {
  background-color: #46271E;
  padding: 4px;
}

.dragon_label {
  background-color: #F5DF51;
  padding: 4px;
  color: black;
}
