.sc-theme .organism-view .isSelected {
	border: yellow solid 2px;
}

.sc-theme .female {
	background-color: #F5EFC6;
}

.sc-theme .male {
	background-color: #F5EFC6;
}

.sc-theme .female-selected {
	background-color: #F5DF51;
}

.sc-theme .male-selected {
	background-color: #F5DF51;
}

.sc-theme .matched {
	background-color: #0cff00;
}

.sc-theme .drop-target {
	background-color: #F5DF51;
}

.sc-theme .empty {
	background-color: #FFFFFF;
}
