.sc-theme .organism-view .isSelected {
}

.sc-theme .organism-view .female-selected {
  background:no-repeat static_url('glow-selected.png') left top;
  background-size: 100% 100%;
}

.sc-theme .organism-view .male-selected {
  background:no-repeat static_url('glow-selected.png') left top;
  background-size: 100% 100%;
}

.sc-theme .drop-target {
  background:no-repeat static_url('glow-selected.png') left top;
  background-size: 100% 100%;
}

.sc-theme .sc-list-view.dragon-grid {
  background-color: #936942;
}

.sc-theme .sc-pane.sc-panel.popup-chromosome-view > .sc-view {
  background: none repeat scroll 0 0 #936942;
}

.glow {
  background:no-repeat static_url('glow.png') left top;
}

.glow .matched {
  background:no-repeat static_url('glow-green.png') left top;
}

.glow-180 {
  background:no-repeat static_url('glow-180.png') left top;
}

.glow-180 .matched {
  background:no-repeat static_url('glow-180-green.png') left top;
}

.glow-82 {
  background:no-repeat static_url('glow-82.png') 12px 10px;
}

.glow-82 .matched {
  background:no-repeat static_url('glow-82-green.png') 12px 10px;
}

.sc-theme .sc-list-view.trans-grid {
  background: none;
}

.sc-theme .sc-label-view.normal-color-label {
  font-size: 1em;
}

.sc-theme .sc-label-view.small-color-label {
  font-size: 0.8em;
}

