.sc-theme .organism-view .isSelected {
	border: yellow solid 2px;
}

.sc-theme .organism-view .female-selected {
	background-color: #F5DF51;
}

.sc-theme .organism-view .male-selected {
	background-color: #F5DF51;
}

.sc-theme .organism-view .matched {
	background-color: #0cff00;
}

.sc-theme .drop-target {
	background-color: #F5DF51;
}

.sc-theme .sc-list-view.dragon-grid {
  background-color: #936942;
}

.sc-theme .sc-pane.sc-panel.popup-chromosome-view > .sc-view {
  background: none repeat scroll 0 0 #936942;
}

