.statsLabel {
  /*border: 1px solid black;*/
  background-color: white;
}
.stats {
  font-size: 14px;
  font-weight: bold;
  background-color: none;
}
.red {
  color: #FF0000;
}
.green{
  color: #00FF00;
}
.orange{
  color: #FF8800;
}
.yellow{
  color: #DDDD00;
}
.purple{
  color: #FF00FF;
}
