<h1>Listing activities</h1>

<%= render :partial => 'shared/index', :locals => { :objects => @activities, 
  :extra_links => [
    lambda {|activity| return link_to 'Run', "/lab##{activity.sc_type}" }
  ]
} %>

<br />

<%= link_to 'New activity', new_activity_path %>